/* Container for the loading spinner */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* Book details styles */
.book-details {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-cover-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.book-cover {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}

strong {
  font-weight: bold;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-to-cart-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #218838;
}

.add-to-cart-btn:focus {
  outline: none;
}
