/* Basic styling for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  margin-left: 20px;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
}

.search-input {
  width: 98% !important;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart-icon-container {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  font-size: 24px;
  margin-right: 90px !important;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  margin-right: 83px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .search-bar {
    margin: 10px 0;
    width: 100%;
  }

  .cart-icon-container {
    margin-top: 10px;
  }
}
